:root {
  --yellow: #d7c444;
  }

.create-account-text {
  margin: 10px;
  text-align: center;
}

.register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin-bottom: 10px;
}
.register-form  input:focus {
  outline: none;
  border: 2px solid black;
}

.register-form input {
  height: 40px;
  border-radius: 10px;
  margin: 10px;
  padding-left: 10px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.559);
}

.logo {
  width: 300px;
  margin: 50px 5px 10px 5px;
}

.to-signin-page {
  font-weight: 600;
}

button {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0.2em #dfd9d9;
  box-shadow: 0 0.2em #dfd9d9;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
  padding-left: 10px;
  border: 1px solid white;
  background-color: var(--bg-color);
}

button:active {
  -webkit-transform: translateY(0.2em);
  transform: translateY(0.2em);
}

button:hover:not(:disabled) {
  background-color: var(--yellow);
  cursor: pointer;
  color: black;
}

.bookshelf {
  width: 150px;
}