h2 {
    margin: 50px;
  }
/* When signed up, this centered page is rendered */
.to-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.underlined {
    text-decoration: underline;
}
  