nav ul {
    list-style: none; 
    background-color: rgb(226, 240, 175);
    text-align: center;
    padding: 0px;
    margin: 0px;
}

nav li {
    list-style: none;
    font-size: 1.2em;
    line-height: 40px;
    text-align: center;
    border-color: black;
}
li a {
    color: black;
}
/* Remove the link understrike/line */
nav a {
    text-decoration: none;
    display: block;
    transition: 1s;
}

nav a:hover {
    background-color:rgb(203, 187, 69);
}

nav a.active {
    background-color:rgb(82, 82, 82);
    color: #444;
}

/* 2 li(s) because there's li within li */

nav li li {
    font-size: .8em;
}

nav a {
    border-bottom: none;
}

nav > ul > li {
    text-align: center;
}

nav > ul > li > a {
    padding-left: 0;
}

/* Submenu */
nav li ul {
    position: absolute;
    display: none;
      width: inherit;
}

nav li:hover ul {
    display: block;
}
nav {
    display: block;
    text-align: center;
}

.signout {
    font-weight: 600;
}

@media (min-width: 650px) {
    nav li {
        width: 130px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        display: inline-block;
        margin-right: -4px;
    }
}