:root {
--main-bg-color: #b13249;
--yellow: #d7c444;
--bg-input: #ffffff8f;
--button-shadow: #dfd9d9;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Quicksand;
  color: white;
}

body {
  background-color: var(--main-bg-color);
}

h2 {
  margin: 50px;
}
/* When signed up, this centered page is rendered */
.to-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* MemberArea */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-account-text {
  margin: 10px;
  text-align: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin-bottom: 10px;
}
.register-form  input:focus {
  outline: none;
  border: 2px solid black;
}

.register-form input {
  height: 40px;
  border-radius: 10px;
  margin: 10px;
  padding-left: 10px;
  border: 1px solid white;
  background-color: var(--bg-input);
}

.logo {
  width: 300px;
  margin: 50px 5px 10px 5px;
}

.to-signin-page {
  font-weight: 600;
}

button {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0.2em var(--button-shadow);
  box-shadow: 0 0.2em var(--button-shadow);
  height: 40px;
  border-radius: 10px;
  margin: 10px;
  padding-left: 10px;
  border: 1px solid white;
  background-color: var(--main-bg-color);
}

button:active {
  -webkit-transform: translateY(0.2em);
  transform: translateY(0.2em);
}

button:hover:not(:disabled) {
  background-color: var(--yellow);
  cursor: pointer;
  color: black;
}

.bookshelf {
  width: 150px;
}

.signin-with-google {
  width: 260px;
}